body {
	margin: 20px 0px 20px 0px;
}

.container {

}

.header {
	background-color: #dff0d8;

}

.header h1 {
	color:#5f8847;
	font-size: 6vw;
	line-height: 0px;
	margin:0px;
	padding-bottom:0px;

}

#clock {
	text-align: right;
}

#addTitle {
	float: left;
}

#add {
	text-align: right;
}

label {
	margin-top: 20px;
}

#timeFormat {
	font-size: 12px;
}

button {
	margin-top: 20px;
}

#newTrainSchedule {
	visibility: hidden;
	height: 0px;
}

.newTrainInput {
	padding:0px;
}

#newTrain {
	text-align: right;
}